@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

body {
	font-family: 'PT Serif', serif;
    color:black;
	line-height: 1.5em;
	background-color: white;
	max-width: 720px;
	padding: 5px 10px;
	margin: 1em auto 1em auto	
}

body>header .logo {
	font-size: 24pt;
  	display: inline-block;
}

body>header a,
body>header a:visited {
    /*color:red;*/
  	color: hsl(113, 76%, 33%);
    text-decoration: none;
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
}

h1,h2,h3,h4 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #56a3d8;
}

a:visited {
  	color:#a346b4
}

main {
	display: block;
}

nav {
	/*margin: 0 -25px;
	padding: 0 25px;*/
	border-bottom:1px solid #cacaca;
	/*box-shadow: 0 1px 0 rgba(255,255,255,.4),0 0 10px rgba(0,0,0,.1);	*/
	/*box-shadow: 0 4px 6px -6px #888;*/
}

nav ul {
	float: right;
	padding: 5px 0 0 0;
	margin: 0;
}
/*nav a,
nav a:visited,
nav a:active {
    color: blue;
}

nav a:hover {
    color: #696969;
}*/

nav li {
/*    margin-left: -25px;
    list-style: none;*/
	padding: 0 5px;
	display: inline;
}

nav li i {
	display: none;
}

body>footer {
	clear: both;
	width: 100%;
	
	border-top: 1px solid #cacaca;
	/*box-shadow: 0 -4px 6px -6px #888;*/
}

article {
}

article h2>a,
article h2>a:active {
    text-decoration: none;
    color: steelblue;
}

/*article h2>a:hover {
    color: #696969;
}*/

article .date {
  color: #c0c0c0;
  font-family: 'PT Sans', sans-serif;
}

article .entry {
}

/*article .entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}*/

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
    margin-bottom: 3px;
}

section address {
    margin-left: 15px;
}

#paginator {
    padding: 10px;
}

#paginator a {
    text-decoration: none;
}

.more {
    margin-left: 80%;
}
